* {
    box-sizing: border-box;
}

html, body
{
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    margin: 0 0 14px;
}

h1 {
    font-size: 40px;
} 

h2 {
    font-size: 28px;
}

h3 {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #7b1fa2;
}

a:hover {
    text-decoration: underline;
}

input, button {
    font-family: 'Open Sans', sans-serif;
    height: 40px;
    padding: 8px;
    margin: 4px;
}

input:focus, button:focus {
    outline:none;
    border: 1px solid #fdd835;
}

button {
    color: #fff;
    background-color: #7b1fa2;
    outline: none!;
}

button .sk-three-bounce .sk-child {
    background-color: #fff;
}

.login-page {
    height: 100%;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/assets/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    background-color: #fff;
    padding: 24px;
}

.login-container h1 {
    color: #7b1fa2;
}

.login-footer {
    margin: 20px;
    text-align: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    padding: 10px;
}

.navbar-brand {
    font-family: 'Righteous', serif;
    font-size: 40px;
}

.navbar ul {
        padding-left: 0;
    margin: 0;
    list-style: none;
}

.navbar li {
    float: left;
    margin-left: 1rem;
} 

.navbar .sk-three-bounce {
    margin: 0 15px;
}

.error {
    color: red;
    padding: 8px;
}

.page-frame {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    flex: 1;
    padding: 14px;
}

footer {
    background-color: #eee;
    text-align: center;
    font-size: 12px;
    padding: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .logo-font {
    font-family: 'Righteous', serif;
    font-size: 20px;
    margin-right: 20px;
}
